//colors
$border-color: #e5e5e5;
$site-font-color-light: #e6ced8;
$font-color-light: #c492a6;

//panel OR box
$panel-border-radius: 10px;

//sizes
$font-size-ws: 18px; // default
$font-size-mb: 16px; // mobile

$font-family-sans-serif: 'Lato', serif;
$body-bg: #f7e9ef;
$text-color: #785d68;
$font-size-base: 16px;

$font-size-h1: 72px;
$font-size-h2: 52px;
$font-size-h3: 30px;   
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 12px;

$min-desktop-width: 768px;
$min-mobile-width: 736px;
$min-small-mobile-width: 360px;
$bracket-width: 35px;
$bracket-thick: 15px;
$bracket-sides: 60px;
$bracket-color: #e6ced8;
$blurb-radius: 10px;
$spacing-top-value: 20px;
$person_sq_dim: 120px;
$bottom-margin: 40px;
$top-margin: 60px;
$social-post-size: 369px;
$social-post-mobile-size: 353px;
$wefie_post_size: 308px;
$wefie_post_mobile_size: 293px;
$sponsor-img-width: 95px;
$sponsor-img-height: 50px;
$our-sponsors-max-width-title: 625px;
$small-print: 13px;
$footer-padding: 110px;;
$content-padding-top: 10px;
$content-padding-bottom: 30px;
$img-bottom-spacing: 10px;
$spacing-sides: 10px;
$anchor-blurb-width: 600px;
$anchor-blurb-height: 75px;
$font-bold: 900;

$container-tablet: 768px;
$container-sm: 768px;
$container-desktop: 768px;
$container-md: 768px;
$container-large-desktop: 768px;
$container-lg: 768px;